@import './components/header';
@import './components/footer';
@import './components/main/main-styles';

body {
    margin: 0px;
    padding: 0px;
}

.container {
    width: 1200px;
    padding: 0px 15px;
    margin: 0px auto;
}

* {
    box-sizing: border-box;
}

