.footer {
    padding-top: 80px;
    padding-bottom: 30px;
    .footer-content {
        .copy {
            color: #5C5C5C;
            font-family: 'Roboto';
            font-size: 12px;
            font-style: normal;
            font-weight: 700;
            line-height: 18px; /* 150% */
            letter-spacing: 0.1px;
        }
    }
}